
@model ProductViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Add New Product</h1>
<div class="container">
    <form method="post" asp-action="Create" enctype="multipart/form-data">
		<input hidden asp-for="PictureUrl" />
        <partial name="CreatEditPartialView" model="Model" />

		<br />
        <br />
        <input type="submit" value="Add" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-light">Back To List</a>
    </form>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}

