@model ProductViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<h1>Edit @Model.Name</h1>
<div class="container">
    <form method="post" asp-action="Edit" enctype="multipart/form-data">
      
        <input asp-for="Id" hidden />

        <partial name="CreatEditPartialView" model="Model" /> 
		<br />
        <br />
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-light">Back To List</a>
    </form>
</div>


